:root {
  --primary-blue: #0360D9;
  --primary-blue-600: #024398;
  --primary-accent: #EBF2FC;
  --white-90: #FCFEFE;
  --light-grey: #F2F2F7;
  --dark-grey-80: #6D7177;
  --dark-grey: #060C3C;
  --black-90: #001514;
  --gradient-400: linear-gradient(207deg, #5699F0 0%, #0360D9 57.29%);
  --border-shade-400: #F5F9FD;
}

html, body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--white-90);
  color: var(--black-90);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input, textarea, button, select {
  font: inherit;
}

.width-max-content {
  width: max-content;
}

.flex-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

h2 {
  display: block;
  color: var(--black-90);
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.375rem;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 2.5rem;
  }
}

p {
  color: var(--black-90);
  font-size: 1rem;
  line-height: 1.6;
}
@media (min-width: 992px) {
  p {
    font-size: 1.25rem;
  }
}

:is(.btn) {
  color: var(--white-90);
  font-size: 0.875rem;
  text-align: center;
  background: var(--gradient-400);
  transition: all 300ms ease-in-out;
}
:is(.btn, .btn.btn-small, .btn.btn-large):is(:hover, :active, :focus-visible) {
  color: var(--white-90);
  background: var(--gradient-400);
}
.btn-small {
  border-radius: 8px;
  padding: 1.125em 0.875em;
}
.btn-large {
  border-radius: 12px;
  padding: 1.125em 2.125em;
}
@media (min-width: 768px) {
  .btn-large {
    font-size: 1rem;
  }
}

.brand-logo {
  width: 75%;
}
@media (min-width: 768px) {
  .brand-logo {
    width: 100%;
  }
}
.brand-name {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .brand-name {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  .brand-name {
    font-size: 2rem;
  }
}

.navbar {
  background-color: var(--white-90);
}
@media (min-width: 992px) {
  .navbar {
    background-color: var(--primary-accent);
  }
}

#nav-container {
  font-size: 1rem;
}
@media (min-width: 1200px) {
  #nav-container {
    font-size: 1.25rem;
  }
}

.nav-item {
  transition: 300ms ease-in-out;
}
.nav-item.active {
  text-decoration: underline var(--primary-blue) solid 0.125rem;
  text-underline-offset: 0.5rem;
}
@media (min-width: 992px) {
  .nav-item:hover {
    scale: 1.0625;
  }
}

#hero {
  height: auto;
}
#hero h1 {
  color: var(--dark-grey);
  font-size: 2rem;
  line-height: 1.5;
}
@media (min-width: 992px) {
  #hero h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1400px) {
  #hero h1 {
    font-size: 4rem;
  }
}
#hero .hero-main {
  background-image: none;
}
@media (min-width: 992px) {
  #hero .hero-main {
    background: var(--primary-accent) url("../assets/imgs/hero-bg.png") right bottom/55% no-repeat;
  }
}
@media (min-width: 1330px) {
  #hero .hero-main {
    background-size: 50%;
  }
}
@media (min-width: 1300px) {
  #hero .hero-main {
    background-size: 45%;
  }
}
@media (min-width: 992px) {
  #hero .hero-text {
    color: var(--black-90);
  }
}
@media (min-width: 992px) {
  #hero .hero-text span {
    background-image: var(--gradient-400);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
#hero .hero-stroke {
  bottom: -10px;
}
@media (min-width: 1400px) {
  #hero .hero-stroke {
    bottom: 0px;
  }
}
#hero .hero-right-col {
  min-height: 20rem;
  background: url("../assets/imgs/hero-bg.png") no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 100%;
}
@media (min-width: 390px) {
  #hero .hero-right-col {
    min-height: 27.5rem;
  }
}
@media (min-width: 560px) {
  #hero .hero-right-col {
    min-height: 30rem;
  }
}
@media (min-width: 576px) {
  #hero .hero-right-col {
    background-size: 90%;
  }
}
@media (min-width: 768px) {
  #hero .hero-right-col {
    min-height: 30rem;
    background-size: 75%;
  }
}
@media (min-width: 992px) {
  #hero .hero-right-col {
    min-height: auto;
    background: none;
  }
}
#hero .stats div:nth-child(1) {
  font-size: 1.5rem;
  line-height: 1.3;
}
@media (min-width: 992px) {
  #hero .stats div:nth-child(1) {
    font-size: 2rem;
  }
}
@media (min-width: 1400px) {
  #hero .stats div:nth-child(1) {
    font-size: 4rem;
  }
}

#hero .hero-stats {
  color: var(--white-90);
  background-color: var(--primary-blue);
}
#hero .stats div:nth-child(2) {
  font-size: 0.625rem;
  line-height: 1.3125;
}
@media (min-width: 992px) {
  #hero .stats div:nth-child(2) {
    font-size: 1rem;
  }
}

.service {
  color: var(--black-90);
}
@media (min-width: 1200px) {
  .service-card-holder {
    max-width: 240px;
  }
}
.service-card {
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid var(--border-shade-400);
  cursor: pointer;
}
@media (min-width: 992px) {
  .service-card {
    background-color: var(--white-90);
    border-radius: 12px;
    border: none;
    transition: 300ms ease-in-out;
  }
  .service-card:is(:hover, :focus) {
    box-shadow: 0px 12px 24px -4px rgba(16, 24, 40, 0.05);
  }
}
.service-card h4 {
  font-size: 1rem;
  line-height: 1.75;
}
@media (min-width: 768px) {
  .service-card h4 {
    font-size: 1.125rem;
  }
}
@media (min-width: 992px) {
  .service-card h4 {
    font-size: 1.25rem;
  }
}
.service-card p {
  font-size: 0.875rem;
  line-height: 1.5;
}
@media (min-width: 992px) {
  .service-card p {
    font-size: 1rem;
  }
}
.service .heart {
  width: 24px;
  height: 24px;
}
@media (min-width: 992px) {
  .service .heart {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .why-us-header {
    text-align: start;
  }
}
.why-us .reason {
  font-size: 1.125rem;
}
@media (min-width: 992px) {
  .why-us .reason {
    font-size: 1.25rem;
  }
}

.doctor-card {
  box-shadow: 0px 12px 24px -4px rgba(16, 24, 40, 0.05);
  transition: all 500ms ease-in-out;
}
.doctor-image-holder::before {
  content: "General Surgeon";
  position: absolute;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  text-align: center;
  background-color: var(--white-90);
  bottom: 0;
}
.doctor-image-holder:is(.cardio)::before {
  content: "Cardiologist";
}
.doctor-name {
  font-size: 1.125rem;
}
@media (min-width: 992px) {
  .doctor-name {
    font-size: 1.25rem;
  }
}
.doctor .btn {
  padding: 1.125rem 1rem;
}

/** ////////// */

/* TESTIMONIALS */
.testimonials-title {
  text-align: center;
}

.testimonials p::before {
  position: absolute;
  content: "\“";
  vertical-align: middle;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.25;
  top: -1.5rem;
}

.testimonials-image {
  max-width: 100%;
  height: auto;
}

.testimonials-name {
  font-size: 1.125rem;
}

.testimonials-occupation {
  columns: var(--dark-grey-80);
  font-size: 0.875rem;
}

.testimonials-slide-nav {
  margin-top: 1.5rem;
  z-index: 9;
}

.slide-nav-buttons {
  padding: 1px;
  border-radius: 0.25rem;
  cursor: pointer;
  background-image: var(--gradient-400);
}
.slide-nav-buttons .flex-centre {
  background-color: var(--white-90);
  border-radius: 0.25rem;
}

.bg-gradient-400 {
  background-image: var(--gradient-400);
}

.bg-gradient-400 path {
  fill: var(--white-90);
}

@media (min-width: 992px) {
  .testimonials-name {
    font-size: 1.25rem;
  }
  
  .testimonials-title {
    text-align: start;
  }
  
  .testimonials-occupation {
    font-size: 1rem;
  }

  .testimonials-slide-nav {
    margin-top: 0;
    position: absolute;
    left: 1rem;
  }
}

@media (min-width: 1200px) {
  .testimonials-image {
    max-width: 85%;
  }
  
  .testimonials-slide-nav {
    bottom: 6.25%;
  }
}

@media (min-width: 1400px) {
  .testimonials-slide-nav {
    bottom: 25%;
  }
}
/* TESTIMONIAL END */


/* PUBLICATIONS */
.cards {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #fff;
}

.publicationTitle {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem; /* 125% */
  letter-spacing: -0.01rem;
}

/* publication card ratings */
/* @media only screen and (max-width: 600px) {}
 */
@media only screen and (max-width: 575px) {
    .publicationColumn {
    /* text-align: center; */
    max-width: 18.875rem;
    margin: auto;
  }
}

.rate {
  padding: 0.75rem 0rem;
}

.publicationBtn {
  width: 3.8125rem;
  height: 1.9375rem;
  /* flex-shrink: 0; */
  /* width: 1.5625rem; */
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 600;
}

.publicationPrice {
  color: var(--black-90);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem; /* 160% */
}
/* PUBLICATIONS END */

/* APPOINTMENT FORM */
#form {
  background-color: var(--primary-blue);
  border-radius: 24px;
}

#form .wrapper {
  background-color: var(--white-90);
  border-radius: 24px;
}

/* APPOINTMENT FORM END */

/* FOOTER */
.hospital {
  background-color: var(--primary-blue);
  color: var(--white-90);
}

.name {
  font-size: 1.5rem;
  padding-top: 3rem;
}

h6.summary {
  line-height: 2;
}

.borderline {
  border-top: 1px solid #6DA3E9;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

h1.appoint {
  font-weight: 700;
}

h6.note {
  line-height: 1.6;
  padding-top: 1rem;
}

h5.address {
  font-weight: 600;
  font-size: 1.2rem;
  padding-top: 3rem;
}

h6.mail-address {
  line-height: 1.7;
  padding-top: 3rem;
}

h5.office {
  font-size: 1.2rem;
  line-height: 1.8;
  padding-top: 5rem;
}
/* FOOTER END */